{% extends "layout.html" %}

{% block body %}
  <form action="/calendar/create" method="post">
    <div id="emtion">
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
          Very Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
          Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion0.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="3">
          So So
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="4">
          Good
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
          Very Good
        </label>
      </div>
    </div>
    <div id="message">
      <textarea class="form-control" name="message" rows="3"></textarea>
    </div>
    <button type="submit">submit</button>
  </form>
{% endblock %}

{% block script %}
{% endblock %}
