{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div>
 How about your overall feelings today? 
</div>
<div>
    <div id="emotion">
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
          Very Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
          Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion0.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="3">
          So So
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="4">
          Good
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios5" value="5">
          Very Good
        </label>
      </div>
    </div>
    <div id="message">
      <textarea class="form-control" name="message" rows="3"></textarea>
    </div>
    <button id="submit">submit</button>
</div>
{% endblock %}

{% block script %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
$("#submit").on("click", function() {
  var emotion = $("input[name=optionsRadios]").val();
  var message = $("textarea[name=message]").val();
  $.ajax({
    type: "POST",
    url: "/calendar/create",
    data: JSON.stringify({
      emotion: emotion,
      message: message
    }),
    dataType : "json",
    contentType: "application/json; charset=utf-8",
    success: function (response) {
      if (response.success) {
        window.location = response.redirect;
      }
    }
  });
});
</script>
{% endblock %}
