{% extends "layout.html" %}

{% block body %}
  <h2 class="centerText">우울증이란?</h2>
  <p class="centerText">{{tips.tip}}</p>
  <p>{{tips.question}}</p>
  <form action="/tips" method="post">
    <input type="hidden" value="{{tips.number}}" name="tip_number"/>
    <input type="hidden" value="{{tips.locale}}" name="tip_locale"/>
    <div id="tips">
      {% for item in tips.choices %}
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios{{loop.index}}" value="{{item}}">
	      {{item}}
            </input>
          </label>
        </div>
      {% endfor %}
    </div>
    <button type="submit">submit</button>
  </form>
{% endblock %}
