<div>
  <h3>How strongly did you feel the feeling you indicated earlier?</h3>
</div>
<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  {% for degree, path in emotion_degrees %}
    <div class="col-md-2 col-lg-2">
      <div>
	<img src="{{ url_for('static', filename=path)}}">
      </div>
      <div>
        <input type="radio" name="degree" value="{{loop.index}}">
      </div>
      <div>{{ degree }}</div>
    </div>
  {% endfor %}
</div>
<div>
  <button id="emotion">prev</button>
  <button id="message">next</button>
</div>
