<div>
  <h3>How about your overall feelings today?</h3>
</div>
<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  {% for emotion, path in emotion_contents %}
    <div class="col-md-2 col-lg-2">
      <div>
	<img src="{{ url_for('static', filename=path)}}">
      </div>
      <div>
	<input type="radio" name="optionsRadios" id="optionsRadios1" value="{{loop.index}}">
      </div>
      <div>{{ emotion }}</div>
    </div>
  {% endfor %}
</div>
<div>
  <button id="next">next</button>
</div>
