<div>
  How about your overall feelings today? 
</div>
<div>
    <div id="emotion">
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
          Very Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion-2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="2">
          Bad
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion0.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="3">
          So So
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion1.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="4">
          Good
        </label>
      </div>
      <div class="radio">
        <img src="{{ url_for('static', filename='img/emotion2.png')}}">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios5" value="5">
          Very Good
        </label>
      </div>
    </div>
    <button id="next">next</button>
</div>
