{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div id="emotion-container" class="container-fluid">
  {% include "calendar/create/emotion.html" %}
</div>
<div id="degree-container" class="container-fluid">
  {% include "calendar/create/degree.html" %}
</div>
<div id="message-container">
  {% include "calendar/create/message.html" %}
</div>
{% endblock %}

{% block script %}
<script>
  $("#degree-container").hide();
  $("#message-container").hide();

  $("#degree").on("click", function() {
    $("#emotion-container").hide();
    $("#degree-container").show();
  });
  $("#message").on("click", function() {
    $("#degree-container").hide();
    $("#message-container").show();
  });
  $("#emotion").on("click", function() {
    $("#emotion-container").show();
    $("#message-container").hide();
  });

  $("#submit").on("click", function() {
    var emotion = $("input[name=emotion]").val();
    var degree = $("input[name=degree]").val();
    var message = {
      1: $("textarea[name=message1]").val(),
      2: $("textarea[name=message2]").val(),
      3: $("textarea[name=message3]").val()
    }
    $.ajax({
      type: "POST",
      url: "/calendar/create",
      data: JSON.stringify({
        emotion: emotion,
        degree: degree,
        message: message
      }),
      dataType : "json",
      contentType: "application/json; charset=utf-8",
      success: function (response) {
        if (response.success) {
          window.location = response.redirect;
        }
      }
    });
  });
</script>
{% endblock %}
