<div>
  <h3>How about your detail feelings today?</h3>
</div>
<div>
  <div>
    <div>
     1. 앞서 기술한 사건이 기분에 미친 영향을 0~10점으로 표시해주세요
    </div>
    <div>
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
    </div> 
  </div>
  <div>
    <div>
      2. 본인의 감정을 얼마나 잘 인식하고 있는지 0~10점으로 표시해주세요
    </div>
    <div>
    </div> 
  </div>
</div>
<div>
  <button id="message">prev</button>
  <button id="submit">submit</button>
</div>
