{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stroop.css')}}">
{% endblock %}

{% block body %}
{% include "game/descriptions.html" %}
<div>
  <div class="stroop-settings" >
    Speed:
    <select id="task-speed" onchange="setCurrentSpeed();">
      <option value="Slow">느리게</option>
      <option value="Medium">보통 속도로</option>
      <option value="Fast">빠르게</option>
      <option value="Fastest">매우 빠르게</option>
    </select>
    <input type="button" value="Start" class="stroop-btn" onclick="startGame();"/>
    <input type="button" value="Stop" class="stroop-btn" onclick="stopGame();"/>
  </div>

  <div class="stroop-result">
    <table>
      <tr>
        <td class="title">Elapsed time:</td>
        <td class="result">
          <div id="elaps-time" class="numeric-form"></div>
        </td>
        <td class="title">Number Shown:</td>
        <td class="result">
          <div id="num-shown" class="numeric-form"></div>
        </td>
        <td class="title">Number Tried:</td>
        <td class="result">
          <div id="num-tried" class="numeric-form"></div>
        </td>
        <td class="title">Number Correct:</td>
        <td class="result">
          <div id="num-correct" class="numeric-form"></div>
        </td>
      </tr>
    </table>
  </div>

  <div id="stroop-container">
    <div id="stroop-locate"></div>
    <div id="buttons-container">
      <table>
        <tr>
          <td>Responses</td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="빨강" onclick="respond(0);" class="stroop-btn"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="초록" onclick="respond(1);" class="stroop-btn"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="파랑" onclick="respond(2);" class="stroop-btn"/>
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="노랑" onclick="respond(3);" class="stroop-btn"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/game/stroop.js')}}"></script>
{% endblock %}
