{% extends "layout.html" %}

{% block body %}

<h2 class="centerText">우울증 자가진단표 (Center for Epidemiologic Studies Depression, CES-D)</h2>
<p>아래에 적혀있는 문항을 잘 읽으신 후, 지난 1주 동안 본인이 느끼시고 행동한 것을 가장 잘 나타낸다고 생각되는 숫자에 체크하시기 바랍니다.</p>
<form id="{{ testName }}" action="{{ url_for('tests') }}" method="POST">
<ul>
<li><strong>극히 드물게</strong>(1일 이하)</li>
<li><strong>가끔</strong>(1~2일)</li>
<li><strong>자주</strong>(3-4일)</li>
<li><strong>거의 대부분</strong>(5-7일)</li>
</ul>
<table>  
<tr id="headerRow">
  <td class="questionColm"><strong></strong></td>
  <td class="ratingColm"><strong>극히 드물게</strong></td>
  <td class="ratingColm"><strong>가끔</strong></td>
  <td class="ratingColm"><strong>자주</strong></td>
  <td class="ratingColm"><strong>거의 대부분</strong></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">1. 평소에는 아무렇지도 않던 일들이 괴롭고 귀찮게 느껴진다.</td>
  <td><input type="radio" name="var1" value="0"></td>
  <td><input type="radio" name="var1" value="1"></td>
  <td><input type="radio" name="var1" value="2"></td>
  <td><input type="radio" name="var1" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">2. 먹고 싶지 않고 식욕이 없었다.</td>
  <td><input type="radio" name="var2" value="0"></td>
  <td><input type="radio" name="var2" value="1"></td>
  <td><input type="radio" name="var2" value="2"></td>
  <td><input type="radio" name="var2" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">3. 어느 누가 도와준다 하더라도 나의 울적한 기분을 떨쳐버릴 수 없을 것 같았다.</td>
  <td><input type="radio" name="var3" value="0"></td>
  <td><input type="radio" name="var3" value="1"></td>
  <td><input type="radio" name="var3" value="2"></td>
  <td><input type="radio" name="var3" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">4. 무슨 일을 하든 정신을 집중하기가 힘들었다.</td>
  <td><input type="radio" name="var4" value="0"></td>
  <td><input type="radio" name="var4" value="1"></td>
  <td><input type="radio" name="var4" value="2"></td>
  <td><input type="radio" name="var4" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">5. 비교적 잘 지냈다.</td>
  <td><input type="radio" name="var5" value="3"></td>
  <td><input type="radio" name="var5" value="2"></td>
  <td><input type="radio" name="var5" value="1"></td>
  <td><input type="radio" name="var5" value="0"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">6. 상당히 우울했다.</td>
  <td><input type="radio" name="var6" value="0"></td>
  <td><input type="radio" name="var6" value="1"></td>
  <td><input type="radio" name="var6" value="2"></td>
  <td><input type="radio" name="var6" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">7. 모든 일들이 힘들게 느껴졌다.</td>
  <td><input type="radio" name="var7" value="0"></td>
  <td><input type="radio" name="var7" value="1"></td>
  <td><input type="radio" name="var7" value="2"></td>
  <td><input type="radio" name="var7" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">8. 앞일이 암담하게 느껴졌다.</td>
  <td><input type="radio" name="var8" value="0"></td>
  <td><input type="radio" name="var8" value="1"></td>
  <td><input type="radio" name="var8" value="2"></td>
  <td><input type="radio" name="var8" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">9. 지금가지의 내 인생은 실패작이라는 생각이 들었다.</td>
  <td><input type="radio" name="var9" value="0"></td>
  <td><input type="radio" name="var9" value="1"></td>
  <td><input type="radio" name="var9" value="2"></td>
  <td><input type="radio" name="var9" value="3"></td>
</tr>
  
<tr id="headerRow">
  <td class="questionColm"><strong></strong></td>
  <td class="ratingColm"><strong>극히 드물게</strong></td>
  <td class="ratingColm"><strong>가끔</strong></td>
  <td class="ratingColm"><strong>자주</strong></td>
  <td class="ratingColm"><strong>거의 대부분</strong></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">10. 적어도 보통 사람들만큼의 능력은 있었다고 생각한다.</td>
  <td><input type="radio" name="var10" value="3"></td>
  <td><input type="radio" name="var10" value="2"></td>
  <td><input type="radio" name="var10" value="1"></td>
  <td><input type="radio" name="var10" value="0"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">11. 잠을 설쳤다(잠을 잘 이루지 못했다).</td>
  <td><input type="radio" name="var11" value="0"></td>
  <td><input type="radio" name="var11" value="1"></td>
  <td><input type="radio" name="var11" value="2"></td>
  <td><input type="radio" name="var11" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">12. 두려움을 느꼈다.</td>
  <td><input type="radio" name="var12" value="0"></td>
  <td><input type="radio" name="var12" value="1"></td>
  <td><input type="radio" name="var12" value="2"></td>
  <td><input type="radio" name="var12" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">13. 평소에 비해 말수가 적었다.</td>
  <td><input type="radio" name="var13" value="0"></td>
  <td><input type="radio" name="var13" value="1"></td>
  <td><input type="radio" name="var13" value="2"></td>
  <td><input type="radio" name="var13" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">14. 세상에 홀로 있는 듯한 외로움을 느꼈다.</td>
  <td><input type="radio" name="var14" value="0"></td>
  <td><input type="radio" name="var14" value="1"></td>
  <td><input type="radio" name="var14" value="2"></td>
  <td><input type="radio" name="var14" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">15. 큰 불만 없이 생활 했다.</td>
  <td><input type="radio" name="var15" value="3"></td>
  <td><input type="radio" name="var15" value="2"></td>
  <td><input type="radio" name="var15" value="1"></td>
  <td><input type="radio" name="var15" value="0"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">16. 사람들이 나에게 차갑게 대하는 것 같았다.</td>
  <td><input type="radio" name="var16" value="0"></td>
  <td><input type="radio" name="var16" value="1"></td>
  <td><input type="radio" name="var16" value="2"></td>
  <td><input type="radio" name="var16" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">17. 갑자기 울음이 나왔다.</td>
  <td><input type="radio" name="var17" value="0"></td>
  <td><input type="radio" name="var17" value="1"></td>
  <td><input type="radio" name="var17" value="2"></td>
  <td><input type="radio" name="var17" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">18. 마음이 슬펐다.</td>
  <td><input type="radio" name="var18" value="0"></td>
  <td><input type="radio" name="var18" value="1"></td>
  <td><input type="radio" name="var18" value="2"></td>
  <td><input type="radio" name="var18" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">19. 사람들이 나를 싫어하는 것 같았다.</td>
  <td><input type="radio" name="var19" value="0"></td>
  <td><input type="radio" name="var19" value="1"></td>
  <td><input type="radio" name="var19" value="2"></td>
  <td><input type="radio" name="var19" value="3"></td>
</tr>
<tr class="questionRow">
  <td class="questionColm">20. 도무지 뭘 해 나갈 엄두가 나지 않았다.</td>
  <td><input type="radio" name="var20" value="0"></td>
  <td><input type="radio" name="var20" value="1"></td>
  <td><input type="radio" name="var20" value="2"></td>
  <td><input type="radio" name="var20" value="3"></td>
</tr>

</table>
  <input type="submit" value="제출">
</form>
{% endblock %}

{% block script %}
{% endblock %}
